---
/**
 * Redirect: beslutningsgjennomgang has been replaced by the landing page services section
 */
---

<!doctype html>
<html lang="no">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/" />
    <link rel="canonical" href="/" />
    <title>Omdirigerer...</title>
  </head>
  <body>
    <p>Omdirigerer til <a href="/">forsiden</a>...</p>
  </body>
</html>
