---
import { EXTERNAL_LINKS } from '../utils/links';
---

<a 
  href={EXTERNAL_LINKS.email}
  class="inline-flex items-center justify-center focus-visible:ring-2 focus-visible:ring-brand-cyan focus-visible:ring-offset-2 rounded-md"
  aria-label="Send e-post til hei@fyrk.no"
>
  <img 
    src="/fyrk-logo-primary-navy.svg" 
    alt="Fyrk logo" 
    class="h-24 md:h-32 lg:h-40 transition-transform duration-normal hover:scale-105"
    width="300"
    height="84"
  />
</a>

